<form id="user-dados" name="user_dados">
  <div class="form-container">
    <label for="nome">Nome:</label> <input type="text" name="nome" value="<%= nome %>" disabled />
  </div>
  <div class="form-container">
    <label for="nome">E-mail:</label> <input type="text" name="email" value="<%= email %>" class="size-300" disabled />
  </div>
  <div class="form-container">
    <label for="cpf">CPF:</label> <input type="text" name="cpf" value="<%= cpf %>" disabled />
  </div>
  <div class="form-container">
    <label for="sexo">Sexo:</label> <input type="text" name="sexo" value="<%= sexo %>" class="size-80" disabled />
  </div>
  <div class="form-container">
    <label for="data_nascimento">Data de nascimento:</label> <input type="text" name="data_nascimento" value="<%= data_nascimento %>" disabled />
  </div>
</form>
